
body{
    background-color: #b7cfa6;
}
#container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/Imagen1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#cabecera{

    margin-top: 40%;
    text-align: center;
    height: 10%;
    width: 100%;
    background-image: url(../img/NHD.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#menu{
    margin-top: 10%;
    margin-left: 9%;
    text-align: center;
    height: 100%;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
}
#cusar{
    text-align: center;
    height: 5%;
    width: 100%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    position: relative;
    background-image: url(../img/utilizar.png);
    background-size:cover;
    background-position: center;
}
#tninos{
    text-align: center;
    height: 5%;
    width: 100%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    position: relative;
    background-image: url(../img/tabninos.png);
    background-size:cover;
    background-position: center;
}
#tninas{
    text-align: center;
    height: 5%;
    width: 100%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    position: relative;
    background-image: url(../img/tabninas.png);
    background-size:cover;
    background-position: center;
}
#calc{
    text-align: center;
    height: 4%;
    width: 100%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    position: relative;
    background-image: url(../img/MAS.png);
    background-size:cover;
    background-position: center;
}
p{
    margin-top: -5%;
    margin-left: 2%;
    margin-right: 2%;
    
}
form{
    margin-top: -5%;
    height: auto;
    width: 70%;
    position: absolute;
}
.elemento{
    text-align: center;
    width: 40px;
}
#edad{
    width: 120px;
}
#izq{
    width: 15%;
    margin-left: 2%;
    margin-right: 10%;
}
#der{
    width: 20%;
    float: right;
    margin-left: 10%;
    margin-right: -10%;
    margin-top: -80%;
}
button{
margin-left: 5%;
margin-right: 5%;
height: fit-content;
width: 100%;
text-align: center;
}
#demo{
    margin-top: 5%;
}
#txt{
    height: fit-content;
    width: 50%;  
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    background-color:cadetblue;
    border-radius: 5%;
}
#txttalla{
    padding-bottom: 5%;
}