#container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(../img/Imagen1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:fixed;
}
#cabecera{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    text-align: center;
    height: 100px;
    width: 50%;
    background-image: url(../img/CONSEJO.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#menu{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    text-align: center;
    height: 200px;
    width: 50%;
    position: absolute;

}
#obeso{
    margin-left: 31%;
    text-align: center;
    height: 150px;
    width: 150px;
    background-image: url(../img/obeso.PNG);
    background-size:cover;
    background-position: center;
}
#desnutrido{
    margin-left: 31%;
    text-align: center;
    height: 150px;
    width: 150px;
    background-image: url(../img/denutricions.PNG);
    background-size:cover;
    background-position: center;
    margin-top: 5%;
}