#container{
    position: fixed;
    height: 100%;
    width: 100%;

    background-image: url(../img/1.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

#menu{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 35%;
    text-align: center;
    height: auto;
    width: 90%;
    position: absolute;
}
#consejos{
    
    
    text-align: center;
    height: auto;
    width: 90%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    position: relative;

}
#calculos{
    text-align: center;
    height: auto;
    width: 90%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    position: relative;

}
#desnutricion{
    text-align: center;
    height: auto;
    width: 90%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    position: relative;
}
#obesidad{
    text-align: center;
    height: auto;
    width: 90%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

    position: relative;
}
#informacion{
    text-align: center;
    height: auto;
    width: 90%;
    margin-top: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}
@media screen and (max-height: 1100px) {
    #menu{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20%;
        text-align: center;
        height: auto;
        width: 80%;
        position: absolute;
        padding-top: 10%;
    }
    #consejos{

        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 5%;
        padding-bottom: 6%;
        position: relative;
    }
    #calculos{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 5%;
        padding-bottom: 6%;
        position: relative;
    }
    #desnutricion{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 5%;
        padding-bottom: 6%;
        position: relative;
    }
    #obesidad{
        text-align: center;
        height: auto;
        width: 100%;
        padding-bottom: 6%;
        position: relative;
    }
    #informacion{
        text-align: center;
        height: auto;
        width: 100%;
        padding-bottom: 6%;
        position: relative;
    }
  }
@media screen and (max-height: 900px) {
    #menu{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 30%;
        text-align: center;
        height: auto;
        width: 80%;
        position: absolute;
        padding-top: 10%;
    }
    #consejos{

        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 10%;
        position: relative;
    }
    #calculos{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 10%;
        position: relative;
    }
    #desnutricion{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 10%;
        position: relative;
    }
    #obesidad{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 10%;
        position: relative;
    }
    #informacion{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 5%;
        padding-bottom: 10%;
        position: relative;
    }
  }
  @media screen and (max-height: 800px or max-width) {
    @media screen and (max-height: 700px ) {
        #menu{
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 25%;
            text-align: center;
            height: auto;
            width: 80%;
            position: absolute;
            padding-top: 10%;
        }
        #consejos{
    
            text-align: center;
            height: auto;
            width: 100%;
            margin-top: 15%;
            padding-bottom: 10%;
            position: relative;
        }
        #calculos{
            text-align: center;
            height: auto;
            width: 100%;
            margin-top: 5%;
            padding-bottom: 6%;
            position: relative;
        }
        #desnutricion{
            text-align: center;
            height: auto;
            width: 100%;
            margin-top: 5%;
            padding-bottom: 6%;
            position: relative;
        }
        #obesidad{
            text-align: center;
            height: auto;
            width: 100%;
            margin-top: 3%;
            padding-bottom: 6%;
            position: relative;
        }
        #informacion{
            text-align: center;
            height: auto;
            width: 100%;
            margin-top: 5%;
            padding-bottom: 10%;
            position: relative;
        }
      }
  @media screen and (max-height: 500px) {
    #menu{
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40%;
        text-align: center;
        height: auto;
        width: 80%;
        position: absolute;
        padding-top: 10%;
    }
    #consejos{

        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 4%;
        position: relative;
    }
    #calculos{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 4%;
        position: relative;
    }
    #desnutricion{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 4%;
        position: relative;
    }
    #obesidad{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 4%;
        position: relative;
    }
    #informacion{
        text-align: center;
        height: auto;
        width: 100%;
        margin-top: 10%;
        padding-bottom: 4%;
        position: relative;
    }
} 