#container{
    position: fixed;
    height: 100%;
    width: 100%;

    background-image: url(../img/1.PNG);
    background-repeat: no-repeat;
    background-position: center;
    background-size:fixed;
}

#menu{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    text-align: center;
    height: auto;
    width: 50%;
    position: absolute;
}
#consejos{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 70px;
    width: 370px;
    margin-top: 5%;
    margin-bottom: 5%;

    position: relative;
}
#calculos{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 70px;
    width: 370px;
    margin-top: 5%;
    margin-bottom: 8%;

    position: relative;
}
#desnutricion{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 70px;
    width: 370px;
    margin-top: 5%;
    margin-bottom: 7%;

    position: relative;
}
#obesidad{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 70px;
    width: 370px;
    margin-top: 5%;
    margin-bottom: 7%;

    position: relative;
}
#informacion{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    height: 70px;
    width: 370px;
    margin-top: 5%;
  
    position: relative;
}