body{
    background-color: #b7cfa6;
    min-height: 600px;
    min-width: 400px;
  }
  #contenedor{
    position: absolute;
    height: 100%;
    width: 100%;;
      background-image: url(../img/Imagen1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
      min-height: 600px;
      min-width: 400px;
      max-height: 600px;
      max-width: 400px;
  }
  #cabecera{
    margin-left: auto;
    margin-right: auto;
    position: static;
    margin-top: 2%;
    text-align: center;
    height: 10%;
    width: 100%;
      background-image: url(../img/INFO.PNG);
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
  }
  #txt1 img{
    border-radius: 5px;
    width: 100%;
 
  }
  #txt1{
    margin-top: 10%;
    height: 100%;
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 13%;
    padding-right: 13%;
  }